<div local-class="root">
  <div local-class="a" {{on "click" this.aClicked}}>
    ALTERSARMUT
  </div>
  <div local-class="b" {{on "click" this.bClicked}}>
    TOPIC 2
  </div>
  
  <div local-class="c" {{on "click" this.cClicked}}>
    TOPIC 3
  </div>
  <div local-class="d" {{on "click" this.dClicked}}>
    TOPIC 4
  </div>

  <div local-class="center">
    <div local-class="bigger">
      CENTER
    </div>
  </div>
</div>